<div class="ui top attached tabular menu">
  <a href="/" class="item <%= (!tab || (tab == tabs[0])) ? 'active' : '' %>"><%= tabs[0] %></a>
  <% tabs.slice(1).forEach(function (mytab) { %>
    <a href="/?tab=<%= mytab %>" class="item <%= (tab == mytab) ? 'active' : '' %>"><%= mytab %></a>
  <% }) %>
</div>